.brand_title{
    font-size: 12px;
}
.brand_title .left {
    display: block;
    float: left;
    width: 210px;
    cursor: pointer;
    padding-right: 10px;
}
.brand_title .right {
    display: block;
    float: right;
    width: 120px;
    text-align: right;
}
.brand_title .center {
    display: block;
    margin-left: 210px;
    margin-right: 120px;
    width: auto;
    text-align: left;
    border-left: 1px solid #E7E7E7;
    padding-left: 10px;
  /*  outline: 1px solid red;*/
}
.brand_title .left input[type=checkbox]{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    margin-top: -2px;
}
.brand_title .left .glyphicon{
    font-size: 12px;
}
.brand_title .left .descr{
    margin-top: 1px;
}
