/******链接型按钮******/
.serviceInputSpan{
    display: inline-block;
    box-sizing: border-box;
    background-color:#FFF;
    border:1px solid #A9A9A9;
    height:30px;
    line-height:30px;
    width:500px;
    padding:0 10px;
    vertical-align: middle;
}

.aaa{
    display: inline-block;
    box-sizing: border-box;
    background-color:red;
    border:1px solid #A9A9A9;
    height:30px;
    line-height:30px;
    width:30px;
    padding:0 10px;
}


.discountBtn {  color:#EEE; padding: 3px 10px; margin:0 0 5px 3px; border-radius: 15px; cursor: pointer;background-color: #AAA;}
.discountCheck{ background-color: #F20;color: white;}
.inputDisabled{cursor: not-allowed;background-color: #999999;opacity: 0.3;}

/*****************  xmlValidate start *********************/
.xmlResponseLayout{
    position:fixed;
    width: 99.3%;
    bottom:0;
    background-color:#C8D2DD;
    border-top:1px solid #999;
}

.xmlResponseLayout .header{
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
}
.xmlResponseLayout .header:after{
    clear: both;
    content: '';
    display: table;
}

.xmlResponseLayout .header .title{
    display: inline-block;
    width: 100px;
    font-size: 16px;
    font-weight: 700;
}
.xmlResponseLayout .body{
    padding: 0 15px;
}
.responseLink{
    display: inline-block;
    padding:3px 18px 0 10px;
}
.responseLinkBottom{
    display: inline-block;
    background:url(../images/icon_bottom.png) no-repeat right center;
}
.responseLinkTop{ background:url(../images/icon_top.png) no-repeat right 2px;}
/*****************  xmlValidate end *********************/
