@charset "UTF-8";
/* line 3, ../sass/common.scss */
* {
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.pt8{
  padding-top:8px;
}
.pb8{
  padding-bottom: 8px;
}
.ml8{
  margin-left:8px;
}
/* line 5, ../sass/common.scss */
body {
  font-size: 18px;
  color: #333;
  font-family: "微软雅黑";
  overflow-x:hidden;
}
.onecarousel{
  right:0%;
  width: auto;

}

/* line 11, ../sass/common.scss */
.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #563d7c;
}
.home_page{
  max-width: 1920px;
  margin:0 auto;
}

/* line 15, ../sass/common.scss */
.home_page .carousel-indicators .active {
  background: #000;
}
/* line 18, ../sass/common.scss */
.home_page .carousel-indicators li {
  background: #646464;
}

/* line 22, ../sass/common.scss */
.home_header {
  background: #fff;
}
/* line 25, ../sass/common.scss */
.home_header .home_logo {
  width:55px;
  vertical-align: middle;
  height: 50px;

}
.home_header .container{
  max-width: 1936px;
}
.navbar{
  margin-bottom: 0;
}
/* line 32, ../sass/common.scss */
.home_header .home_tips {
  padding: 22px 0;
}
/* line 35, ../sass/common.scss */
.home_header .home_navs {
  padding: 10px 0;
}
/* line 37, ../sass/common.scss */
.home_header .home_navs a {
  color: #333;
}

/* line 43, ../sass/common.scss */
.home_intro {
 max-width: 1920px;
 max-height: 970px;
}

/* line 49, ../sass/common.scss */
.home_dev {
  background: #fff;
  padding-bottom: 50px;
}
/* line 52, ../sass/common.scss */
.home_dev .dve_title {
  padding-top: 25px;
  font-size: 18px;
  color: #333;
  margin-bottom: 120px;
}
/* line 57, ../sass/common.scss */
.home_dev .dve_title span {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
}
/* line 63, ../sass/common.scss */
.home_dev .home_h5, .home_dev .home_app, .home_dev .home_web, .home_dev .home_weixin {
  text-align: center;
  padding-bottom: 67px;
}
/* line 66, ../sass/common.scss */
.home_dev .home_h5 li, .home_dev .home_app li, .home_dev .home_web li, .home_dev .home_weixin li {
  line-height: 2;
}
/* line 68, ../sass/common.scss */
.home_dev .home_h5 li a, .home_dev .home_app li a, .home_dev .home_web li a, .home_dev .home_weixin li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
/* line 74, ../sass/common.scss */
.home_dev .home_h5 li:nth-child(1), .home_dev .home_app li:nth-child(1), .home_dev .home_web li:nth-child(1), .home_dev .home_weixin li:nth-child(1) {
  padding: 27px 0;
}
/* line 76, ../sass/common.scss */
.home_dev .home_h5 li:nth-child(1) a, .home_dev .home_app li:nth-child(1) a, .home_dev .home_web li:nth-child(1) a, .home_dev .home_weixin li:nth-child(1) a {
  font-size: 24px;
}
/* line 81, ../sass/common.scss */
.home_dev .home_h5 li:nth-child(2), .home_dev .home_app li:nth-child(2), .home_dev .home_web li:nth-child(2), .home_dev .home_weixin li:nth-child(2) {
  padding-top: 25px;
}
/* line 85, ../sass/common.scss */
.home_dev .home_h5 li:last-child, .home_dev .home_app li:last-child, .home_dev .home_web li:last-child, .home_dev .home_weixin li:last-child {
  padding-bottom: 100px;
}
/* line 91, ../sass/common.scss */
.home_dev .home_h5 li {
  background: #179c3a;
}
/* line 95, ../sass/common.scss */
.home_dev .home_h5 li:nth-child(1) {
  background: #1ab944;
}
/* line 99, ../sass/common.scss */
.home_dev .home_app {
  margin-top: 67px;
}
/* line 101, ../sass/common.scss */
.home_dev .home_app li {
  background: #176c9c;
}
/* line 105, ../sass/common.scss */
.home_dev .home_app li:nth-child(1) {
  background: #1b7fb7;
}
/* line 110, ../sass/common.scss */
.home_dev .home_web li {
  background: #25bfc5;
}
/* line 114, ../sass/common.scss */
.home_dev .home_web li:nth-child(1) {
  background: #2bdbe2;
}
/* line 118, ../sass/common.scss */
.home_dev .home_weixin {
  margin-top: 67px;
}
/* line 120, ../sass/common.scss */
.home_dev .home_weixin li {
  background: #7c22cf;
}
/* line 124, ../sass/common.scss */
.home_dev .home_weixin li:nth-child(1) {
  background: #8b28e5;
}

/* line 130, ../sass/common.scss */
.home_pro {
  background-color: #f9f9f9;
   max-width: 1920px;
 max-height: 970px;
}
/* line 133, ../sass/common.scss */
.home_pro .pro_title {
  font-size: 18px;
  color: #333;
  margin-bottom: 80px;
  padding-top: 25px;
}
/* line 137, ../sass/common.scss */
.home_pro .pro_title span {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
}


/* line 148, ../sass/common.scss */
.home_cor {
  background-color: #fff;
 
}
/* line 152, ../sass/common.scss */
.home_cor .cor_title {
  font-size: 18px;
  color: #333;
  margin-bottom: 120px;
  padding-top: 25px;
}
/* line 156, ../sass/common.scss */
.home_cor .cor_title span {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
}
/* line 164, ../sass/common.scss */
.home_cor li a img {
  width: 100%;
}
/* line 169, ../sass/common.scss */
.home_cor li:nth-child(2) {
  padding: 20px 0;
}

/* line 173, ../sass/common.scss */
.home_footer {
  margin-top: 20px;
  background: #202020;
 padding-top: 30px;
  color: #fff;
}
.home_footer .right{
  clear:both;padding-top:30px;
}
.home_footer .right p{
  color:#fff;font-size:14px;border-top:1px solid #fff;padding-top:20px;text-align:center;
}
/* line 178, ../sass/common.scss */
.home_footer .user_logo {
  margin-bottom: 20px;
  margin-left:20%;
  display: block;
}

/* line 185, ../sass/common.scss */
.home_footer p {
  font-size: 18px;
}
/* line 188, ../sass/common.scss */
.home_footer .user_form {
  line-height: 2;
}
/* line 190, ../sass/common.scss */
.home_footer .user_form label {
  position: relative;
  left: 40px;
}
/* line 194, ../sass/common.scss */
.home_footer .user_form input {
  font-size: 14px;
  width: 70%;
  padding-left: 45px;
  background: #202020;
  border-bottom: 1px solid #fff;
}
/* line 201, ../sass/common.scss */
.home_footer .user_form .user_name, .home_footer .user_form .user_tel, .home_footer .user_form .user_need {
  margin-bottom: 10px;
}
/* line 204, ../sass/common.scss */
.home_footer .user_form .submit {
  width: 70%;
  margin: 20px 0 0 40px;
  display: inline-block;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

/* line 219, ../sass/common.scss */
.moduleRWrap {
  background: #fafafa;
}

/* line 223, ../sass/common.scss */
.moduleWrap {
  background: #fff;
}

/* line 227, ../sass/common.scss */
.module_left {
  margin-top: 20px;
  padding: 0 10%;
  margin: 15px 0;
  background: #fafafa;
  overflow: hidden;
}
/* line 233, ../sass/common.scss */
.module_left .module_left_pic {
  margin-bottom: -1000px;
  padding-bottom: 1000px;
}
/* line 236, ../sass/common.scss */
.module_left .module_left_pic img {
  width: 100%;
  height: 100%;
}
/* line 241, ../sass/common.scss */
.module_left .module_left_tips {
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  text-align: center;
  color: #fff;
  background: #179c3a;
}
/* line 248, ../sass/common.scss */
.module_left .module_left_tips h3 {
  font-size: 24px;
  padding-top: 125px;
}
/* line 252, ../sass/common.scss */
.module_left .module_left_tips p {
  padding-top: 10px;
  line-height: 2;
  font-size: 14px;
}

/* line 260, ../sass/common.scss */
.module_right {
  margin-top: 20px;
  padding: 0 10%;
  margin: 15px 0;
  background: #fff;
  overflow: hidden;
}
/* line 266, ../sass/common.scss */
.module_right .module_right_pic {
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}
/* line 269, ../sass/common.scss */
.module_right .module_right_pic img {
  width: 100%;
}
/* line 274, ../sass/common.scss */
.module_right .module_right_tips {
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  text-align: center;
  color: #fff;
  background: #176c9c;
}
/* line 281, ../sass/common.scss */
.module_right .module_right_tips h3 {
  padding-top: 150px;
  font-size: 24px;
}
/* line 285, ../sass/common.scss */
.module_right .module_right_tips p {
  padding-top: 10px;
  line-height: 2;
  font-size: 14px;
}

/* line 293, ../sass/common.scss */
.wis_price {
  background: #fff;
}

/* line 297, ../sass/common.scss */
.wis_catalog {
  padding: 40px 8%;
  background: #f9f9f9;
}
/* line 300, ../sass/common.scss */
.wis_catalog section {
  margin-bottom: 20px;
}

/* line 304, ../sass/common.scss */
.wis_log {
  font-size: 18px;
  width: 130px;
  text-align: center;
  color: #fff;
}

/* line 311, ../sass/common.scss */
.wis_log1 {
  background: #179c3a;
}

/* line 315, ../sass/common.scss */
.wis_log2 {
  background: #176c9c;
}

/* line 319, ../sass/common.scss */
.wis_log3 {
  background: #25bfc5;
}

/* line 323, ../sass/common.scss */
.wis_navs {
  font-size: 18px;
}
/* line 325, ../sass/common.scss */
.wis_navs li {
  width: 120px;
  text-align: center;
  margin: 0 5px;
  background: #fff;
}
/* line 330, ../sass/common.scss */
.wis_navs li a {
  color: #333;
  font-size: 18px;
}

/* line 337, ../sass/common.scss */
.wis_tables {
  padding: 50px 10%;
  padding-bottom: 20%;
  background: #fff;
}
/* line 341, ../sass/common.scss */
.wis_tables caption {
  background: #14244c;
  padding-left: 20px;
  color: #fff;
}
/* line 347, ../sass/common.scss */
.wis_tables tr th {
  text-align: center;
  background: #176c9c;
  color: #fff;
}
