<!DOCTYPE html>
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>里程兑换查询页面</title>
    <jsp:include page="/WEB-INF/pages/oc/oc_common.jsp"></jsp:include>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body   id ="app"   v-cloak>
<input id="contextPath"  type="hidden" value='${pageContext.request.contextPath}' />
<div class="navbar-fixed-top">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">导航菜单</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">
                    <li ><a href="${pageContext.request.contextPath}/oc/toQueryS7UI.action">附加服务</a></li>
                    <li><a href="${pageContext.request.contextPath}/abr/toCfgAbrDatasource.action">数据源配置</a></li>
                    <li  class="active"><a href="${pageContext.request.contextPath}/mileage/toMileageExchangeUI.action">里程积分兑换</a></li>
                    <li><a href="${pageContext.request.contextPath}/validate/toValidateRecords7.action">运价校验</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--query section start-->
    <div class ="query_section">
        <form class="form-inline">
            <!--query row1 start-->
            <div class="query_row">
                <span class="query_title">里程兑换查询</span>
                <span class="marginL10"></span>

                <span class="pull-right marginR15">
                    <button type="button" class="btn btn-sm btn-default" v-on:click="backPage">返回</button>
                    <button type="button" class="btn btn-sm btn-warning" v-on:click="abort">截止</button>
                    <button type="button" class="btn btn-sm btn-success" v-on:click="toAddPage">新建</button>
                    <button type="button" class="btn btn-sm bg-primary" id ="mileageExchangeQueryBtn" v-on:click="query">查询</button>
                </span>
            </div>
            <!--query row1 end-->

        </form>
    </div>
    <!--query section end-->
</div>

<div class="container-fluid main_content" >
    <div class="panel panel-default s7list_panel" v-if="list.length>0">
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr class="active">
                    <th>选择</th>
                    <th>序列号</th>
                    <th>生效日期</th>
                    <th>截止日期</th>
                    <th>基准货币类型</th>
                    <th>兑换系数</th>
                    <th>服务类型</th>
                    <th>服务子代码</th>
                    <th>服务所在组</th>
                    <th>常旅客等级</th>
                    <th>航空公司</th>
                    <th>区域1</th>
                    <th>区域2</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>
                        <span v-if="item.status=='1'||item.status=='2'">
                            <input type="checkbox"  v-on:click="checkItem(item)"  >
                        </span>
                    </td>
                    <td>{{item.sequenceNumber}}</td>
                    <td>{{item.firstMaintenanceDate}}</td>
                    <td>{{item.lastMaintenanceDate}}</td>
                    <td>{{item.basicCurrencyUnit}}</td>
                    <td>{{item.exchangeFactor}}</td>
                    <td>{{item.serviceType}}</td>
                    <td>{{item.subCode}}</td>
                    <td>{{item.groupCode}}</td>
                    <td>{{item.frequentFlyerStatus}}</td>
                    <td>{{item.carrCode}}</td>
                    <td>{{item.geoSpecLoc1}}</td>
                    <td>{{item.geoSpecLoc2}}</td>
                    <td>
                        <div class="helper_float_left operate_btn">
                            <a  v-if="item.status=='1'||item.status=='2'" title="编辑" href="${pageContext.request.contextPath}/mileage/toMileageExchangeUpdateUI.action?id={{item.id}}">
                            	<i class="glyphicon glyphicon-pencil myhand"></i>
                            </a>
                            <i v-else class="glyphicon glyphicon-pencil myhand gray""></i>
                            <div v-if="item.status=='1'"  title="删除" class="marginLeft5 glyphicon glyphicon-trash myhand"  v-on:click="deleteItem(item.id)" ></div>
                            <div v-else title="删除" class="marginLeft5 glyphicon glyphicon-trash myhand gray"></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- spilt page bar star -->
    <nav class ="pull-right" v-if="list.length>0">
        <ul class="pagination">
            <li>  <a href="javascript:void(0)" v-on:click ="toPage(1)">首页</a></li>
            <li>
                <a href="javascript:void(0)" aria-label="Previous" v-on:click ="toPerviousPage">上一页</a>
            </li>
            <li v-for="l in pageBar.pgArr"    v-bind:class="{ 'active': pageBar.curPage==l}" >
                <a href="javascript:void(0)"  v-on:click="toPage(l)">{{l}}</a>
            </li>
            <li v-if ="pageBar.pageCount>5&&(pageBar.curPage+3) <=pageBar.pageCount"><span>...</span></li>
            <li>
                <a href="javascript:void(0)" aria-label="Next" v-on:click ="toNextPage">下一页</a>
            </li>
            <li> <a href="javascript:void(0)" v-on:click ="toPage(pageBar.pageCount)">末页</a></li>
        </ul>
        <div class="page-desc">
            <span class="marginRight10">共<span class ="marginRL2">{{pageBar.pageCount}}</span>页</span>
            <span class ="">当前第</span>
            <input type="text"  id ="pageOkInput" class ="common_input"  style="width: 30px"  value ="{{pageBar.curPage}}" >
            <span class="marginRight5 ">页</span>
            <span class="page-ok" v-on:click ="pageConfirm">确定</span>
        </div>
    </nav>
    <!-- spilt page bar star -->


</div>



<!-- 模态框start -->
<div class="modal fade" id="myModal" data-backdrop="static"   role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" style = "width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">批量截止里程积分兑换</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">批量截止日期</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" tabindex="3"  id="lastMaintenanceDate"
                                    v-model ="lastMaintenanceDate"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" v-on:click="submitAbort">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 模态框end -->

<script type="text/javascript" src="${pageContext.request.contextPath}/resources/oc/components/jquery/jquery.js"></script>
<script type="text/javascript" src="${pageContext.request.contextPath}/resources/oc/components/vue/vue.min.js"></script>
<script type="text/javascript" src="${pageContext.request.contextPath}/resources/oc/dist/mileageQuery.js"></script>
</body>
</html>