.test{
    height: 1000px;
}
/*主编辑区域**/
body{
    background-color: #F2F4F7;
    min-width: 1000px;
}
.main_content{
    padding-top: 106px;
    height: 100%;
}
/*bootstrap 样式重置start*/
.navbar{
    margin-bottom: 0;
}
/*.form-group{
    margin-bottom: 6px;
}
.well{
    padding-top: 10px;
    padding-bottom: 5px;
}*/
/*bootstrap 样式重置start*/
/**查询条件相关 start*/
.query_section{
    padding: 5px 0;
    width: 100%;
    min-height: 42px;
    background-color: #00b3ee;
    background:#fff url(../images/tui_div4_bg.png) repeat-x left bottom;
    border-bottom:1px solid #9ea7ab;
    box-shadow:0 0 2px 0;
    font-size: 12px;
    font-weight: 100;
    box-sizing: border-box;
}
.query_row{

}
.query_title{
    display: inline-block;
    margin: 8px 20px 0 10px;
    color: #017ebc;
}
.query_section input,.query_section select{
    height: 26px;
    padding: 3px;
}
.query_section .btn{
    padding-top: 3px;
    padding-bottom: 3px;
}
.query_section label{
    font-weight: 100;
}
/**查询条件相关 end*/
.checkbox label{
    float: right;
    margin-top: 8px;
    margin-left: 5px
}
.checkbox label:after{
    clear: both;
}
.marginL5{
    margin-left: 5px;
}
.marginR5{
    margin-right: 5px;
}
.marginLR5{
    margin :0 5px;
}
.marginL10{
    margin-left: 10px;
}
.marginR10{
    margin-right: 10px;
}
.marginLR10{
    margin :0 10px;
}
.marginL15{
    margin-left: 15px;
}
.marginR15{
    margin-right: 15px;
}
.marginLR15{
    margin :0 15px;
}
.productsImg{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url('../images/products/0B5.jpg');
}
/**s7查询页面特有的样式 start*/
.s7_list_row:after{
    clear: both;
}
.s7_list_row .s7_list_item{
    display: inline-block;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 50px;
    box-sizing: border-box;
}
.s7_list_descr{
    width: 25%;
}
.s7_list_checkbox{
    width: 5%;
    text-align: center;
}
.s7_list_price{
    text-align: right;
    width: 10%;
}
/**s7查询页面特有的样式 end*/
.myhand{
    cursor: pointer;
}
.panel-body .header{
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: red;
}
.edit_panel{
    box-sizing: border-box;
    min-height: 360px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #cbcccf;
    box-shadow: 0 1px 1px;
    background-color: #FFF;
    margin-bottom: 10px;
}
.edit_panel_header{
    display: inline-block;
    box-sizing: border-box;
    height: 66px;
    width: 100%;
    background-color: #F5F7FA;
    border-radius: 2px;
    padding: 18px 0px;
    line-height: 30px;
    font-size: 12px;
}
.edit_panel_header >span,.edit_panel_row >span{
    float: left;
}
.edit_panel_header >span:after,.edit_panel_row >span:after{
    clear: both;
}
.edit_panel_header .title{
    font-weight: 600;
    display: inline-block;
    width: 11%;
    padding-left: 15px;
}
.edit_panel_body .title{
    display: inline-block;
    padding-left: 15px;
    margin: 0;
    width: 11%;
}
.edit_panel_body .content{
    display: inline-block;
    width: 87%;
}
.edit_panel_body .content:after{
    clear: both;
}
.serviceInputDiv{
    display: inline-block;
    box-sizing: border-box;
    background-color:#FFF;
    border:1px solid #A9A9A9;
    height:30px;
    line-height:30px;
    width:500px;
    padding:0 10px;
}
.serviceInputDiv:after{
    clear: both;
}
.edit_input_label{
    box-sizing: border-box;
    display: inline-block;
    width: 13%;
    font-size: 12px;
    font-weight: 100;
    float: left;
}

.edit_input_label:after{
    clear: both;
}
.edit_input_content{
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    width: 86%;
}
.edit_input_content:after{
    clear: both;
}

.from_row{
    margin-bottom: 6px;
}








