.test{
    height: 1000px;
}
/*主编辑区域**/
body{
    background-color: #F2F4F7;
    min-width: 1100px;
    font-size: 12px;
    font-family: "lucida grande",Helvetica,Tahoma,Verdana,Arial,Microsoft YaHei,simsun,sans-serif;
}
.main_content{
    padding-top: 106px;
    padding-bottom: 30px;
    height: 100%;
}
/*bootstrap 样式重置start*/
.navbar{
    margin-bottom: 0;
}
/*.form-group{
    margin-bottom: 6px;
}
.well{
    padding-top: 10px;
    padding-bottom: 5px;
}*/
/*bootstrap 样式重置start*/
/**查询条件相关 start*/
.query_section{
    padding: 5px 0;
    width: 100%;
    min-height: 42px;
    background-color: #00b3ee;
    background:#fff url(../images/tui_div4_bg.png) repeat-x left bottom;
    border-bottom:1px solid #9ea7ab;
    box-shadow:0 0 2px 0;
    font-size: 12px;
    font-weight: 100;
    box-sizing: border-box;
}
.query_title{
    display: inline-block;
    margin: 8px 20px 0 10px;
    color: #017ebc;
}
.query_section input,.query_section select{
    height: 26px;
    padding: 3px;
}
.query_section .btn{
    padding-top: 3px;
    padding-bottom: 3px;
}
.query_section label{
    font-weight: 100;
}
/**查询条件相关 end*/
.checkbox label{
    float: right;
    margin-top: 8px;
    margin-left: 5px
}
.checkbox label:after{
    clear: both;
}
.marginL5{
    margin-left: 5px;
}
.marginR5{
    margin-right: 5px;
}
.marginLR5{
    margin :0 5px;
}
.marginL10{
    margin-left: 10px;
}
.marginR10{
    margin-right: 10px;
}
.marginLR10{
    margin :0 10px;
}
.marginL15{
    margin-left: 15px;
}
.marginR15{
    margin-right: 15px;
}
.marginLR15{
    margin :0 15px;
}
.myhand{
    cursor: pointer;
}

.red_star{
    color: red;
}
.datebox{
    margin-left: -25px;
}
.datebox:after{
    content: '';
    display: inline-block;
    margin-left: 12px;
}






/**重置purecss的样式start*/
.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
    padding: 0.4em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]) {
    padding: 0.4em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/**重置purecss的样式end*/







