<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <style>
        .errors{
            color: red;
        }
        .errors p{
            margin-top: 5px;
        }
        /*开发版本
         input.invalid {border: 1px solid red;}
         input.valid{border: 1px solid green;} */
        /*上线版本*/
        select.dirty.invalid,input.dirty.invalid{border:1px solid red;}
    </style>
</head>
<body style="margin-top: 50px">

s<div id="app">
    <validator name="validation">
        <form class="form-horizontal" novalidate @submit="onSubmit">
            <div class="form-group" >
                <label for="username" class="control-label col-sm-3">username:</label>
                <div class="col-sm-6">
                    <input id="username" type="text" class="form-control"
                           detect-change="off" detect-blur="off" v-validate:username="{
                      required: { rule: true, message: 'required you name !!' }
                    }" />
                </div>
            </div>
            <div class="password">
                <label for="password">password:</label>
                <input id="password" type="password" v-model="password"
                       detect-change="off" detect-blur="off" v-validate:password="{
              required: { rule: true, message: 'required you new password !!' },
              minlength: { rule: 8, message: 'your new password short too !!' }
            }" />
            </div>
            <div class="confirm">
                <label for="confirm">confirm password:</label>
                <input id="confirm" type="password"
                       detect-change="off" detect-blur="off" v-validate:confirm="{
              required: { rule: true, message: 'required you confirm password !!' },
              confirm: { rule: password, message: 'your confirm password incorrect !!' }
            }" />
            </div>
            <div class="errors" v-if="$validation.touched">
                <validator-errors :validation="$validation"></validator-errors>
            </div>
            <input type="submit" value="register" />
        </form>
    </validator>
</div>


<script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="../bower_components/vue/dist/vue.js"></script>
<script type="text/javascript" src="../bower_components/vue-validator/dist/vue-validator.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        methods:{
            submitPage:function(){
                var $username = this.$validation1.username ;
                console.info($username) ;
                //$username.$set('dirty',true) ;
                console.info($username.dirty) ;
                //$username.reactiveSetter(true) ;
                //this.$validation1.username.$setDirty(true) ;
                //this.$validation1.username.dirty = true ;
                var nameArr = ['username','comment','password'] ;
                changeValidation2Dirty(this.$validation1,nameArr) ;
            }
        }
    })

    function changeValidation2Dirty(validation1,nameArr){

       // console.info(validation1)  ;
        for(var i = 0 ; i < nameArr.length; i ++){
            validation1[nameArr[i]].dirty = true ;
        }
    }
</script>
</body>
</html>