.table_records7 .descr{
    display: inline-block;
    width: 100px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.table_records7 .relative{
    position: relative;
}
.table_records7 .tb_order{
    position: absolute;
    right: 2px;
    top: 36%;
}
.table_records7 .tbtitle{
    display: block;
}

table.table_records7 tr th{
    padding: 8px 2px;
    background-color: #8AD0EE;
    vertical-align: middle;
    cursor: pointer;
}
table.table_records7 tr td{
    padding: 4px 2px;
    padding-bottom: 0px;
    text-align: center;
}
table.table_records7 input[type="checkbox"]{
    vertical-align: middle;
    margin: 0px;
}
.table_records7 tbody tr:hover{
    background-color:#ECF1EF ;
}

@media screen and (min-width: 1250px) {
    .table_records7 .tbtitle{
        display: inline-block;
    }
    .table_records7 .tb_order{
        top: 30%;
    }
}
table.table_records7 tr th .glyphicon{
    display: none;
}
table.table_records7 tr th:hover .glyphicon{
    display: block;
}
table.table_records7 tr label{
    margin: 0;
    padding: 0;
    cursor: pointer
}
.allInfo_descr{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.allInfo_descr label{
    margin: 0;
    padding: 0;
    vertical-align: middle; 
    margin-left: 5px;
    cursor: pointer;
}
.allInfo_descr input[type="checkbox"]{
    margin: 0;
    padding: 0;
    vertical-align: middle;
}